/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/


.text-shadow {
    text-shadow: 0px 4px 6px rgba(189, 68, 0, 0.8);
}

.main-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
}

.subtitle-heading {
    font-weight: 400;
    font-size: 26px;
    line-height: 40px;
    /*max-width: 400px;*/
    /*margin: 0 auto;*/
}

.subtitle-heading-modal {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    margin: 0 auto;
}

.d-flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weeyz-bubbles-image {
    position: absolute;
    top: -160px;
}

.bubble-bg a img {
    transition: all 0.3s ease;
}

.bubble-bg a:hover img {
    transform: scale(0.95);
}

.padding-modal {
    padding: 30px;
}

.text-orange {
    color: #FE8415;
}

.text-orange {
    color: #FE8415;
}

.fs-26 {
    font-size: 26px;
    line-height: 34px;
}

.modal-close {
    font-size: 30px;
    position: relative;
    left: -40px;
    top: 0px;
    color: #98A1A8;
}

.modal-list {
    font-size: 20px;
}

.button {
    background-color: #FE8415;
    font-size: 18px !important;
    border-radius: 10px !important;
}

.bubble-modal-bg .modal-close {
    color: #FFF;
}

/*.bubble-modal-bg {
    background-image: url('../images/modal-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}*/

ul {
    list-style-type: none;
}

.button-white {
    color: #FE8415;
    text-shadow: none;
    border: 1px solid #FFF;
}

.button-white:hover {
    color: #FFF;
    background-color: #FE8415 !important;
    text-shadow: none;
}

.nunu-div {
    background: #FFF;
    color: #333;
    padding: 50px;
    min-height: 410px;
    padding-bottom: 0px;
    border-radius: 40px;
    border-right: 1px dashed #E7E7E7;
    margin-bottom: 20px;
}

.bubble-modal-3 {
    background: #FE8415;
    background-image: url(../images/modal-bg.jpg);
}

.text-green {
    font-weight: 700;
    color: #1BBC9B;
}

.nunu-icon {
    margin-top: -95px;
}

.nunu-icon img {
    background: #FFF;
    border-radius: 100%;
    padding: 20px;
}

.custom-list li {

    margin-bottom: 10px;
}

.custom-list li:before {
    width: 15px;
    height: 2px;
    background: #FE8415;
    display: block;
    content: '';
    position: relative;
    left: -23px;
    top: 13px;
}

.modal-container {
    border-radius: 20px !important;
}

.modal-content {
    border-radius: 20px !important;
}

.bubble-modal-3 .modal-content {
    background: transparent;
    color: #FFF;
}

.dark #header-wrap {
    background-color: #FE8415;
}

.dark #header, #header.dark {
    background-color: #FE8415;
    border-bottom-color: #FE8415;
}

#header {
    position: relative;
    background-color: #FFF;
    border-bottom: 1px solid #FE8415;
}

.bubble-bg {
    margin-bottom: 20px;
}

@media screen and (min-width: 1300px) {
    .weeyz-bubbles-image {
        left: -70px;
        top: 90px;
    }

    .first-nunu {
        border-radius: 40px 0 0 40px;
    }

    .second-nunu {
        border-radius: 0 40px 40px 0;
    }

    .mw-65 {
        max-width: 65%;
    }

}

@media screen and (max-width: 480px) {
    .slider-inner {
        background-image: url("../images/mobile-bg.jpg") !important;
    }
}

@media screen and (max-width: 767px) {
    .weeyz-bubbles-image {
        display: none;
    }

    .mt-xs-minus {
        margin-top: -30px;
    }

    .mt-xs-plus {
        margin-top: 30px;
    }

    .iphone-image {
        max-width: 70%;
    }

    .nunu-div {
        min-height: auto !important;
        padding-bottom: 10px;
        margin-bottom: 80px;
    }
}
